* {
  box-sizing: border-box;
}
div.text {
  display: inline-block;
  position: relative;
  margin: 16px;
  border-bottom: 1px dotted black;
}
span.tooltip {
  display: none;
}
div.text:hover .tooltip {
  display: inline-block;
  position: absolute;
  bottom: -40px;
  left: 0;
  background-color: grey;
  color: white;
  border-radius: 4px;
  padding: 8px;
}
