/* * {
  box-sizing: border-box;
} */
div.text {
  visibility: visible;
  display: inline-block;
  position: relative;
  margin: 16px;
  border-bottom: 1px dotted black;
}
.tooltip {
  visibility: visible;
  position: absolute;
  bottom: -40px;
  left: 0;
  right: 0;
  background-color: grey;
  color: white;
  border-radius: 4px;
  padding: 8px;
}
